.container.demo{
  background-color: #054bd1;
  height: 100vh;
}


.container.demo .row{
  background-color: #021d51;
  height: 30vh;
  border-bottom: 1px solid #000;
}


.container.demo .row > div > span{
  display: block;
  background-color: #487bdd;
  color: white;
  font-size: 32px;
  padding: 8px;
} 

.carousel.demo .carousel-item{
  height: 300px;
}

.carousel.demo .carousel-item img{
  min-height: 300px;
  max-height: 400px;
}
